In [67]:
import pandas as pd
from datetime import datetime
df = pd.read_csv('stock-FAANG-mensual.csv')

df = pd.read_csv('stock-empresas10-mensual.csv')
#df = pd.read_csv('stock-empresas10.csv')

df=df.set_index('Empresa')

print('Tamaño del la muestra {}'.format(df['Open'].count()))

#delimitar 2020
df['Date']=pd.to_datetime(df['Date'])
df20=df.loc[(df['Date'] < datetime.strptime('21-01-01', '%y-%m-%d'))]

#delimitar 2021 hasta el 12 de marzo
df['Date']=pd.to_datetime(df['Date'])
df21=df.loc[(df['Date'] >= datetime.strptime('21-01-05', '%y-%m-%d'))
            & (df['Date'] <= datetime.strptime('21-03-12', '%y-%m-%d'))]

df

Tamaño del la muestra 150

,web-scraper-order,web-scraper-start-url,Date,Open,Close*
Empresa,,,,,
Amazon,1616360218-42,https://finance.yahoo.com/quote/AMZN/history?p...,2021-01-01,"3,270.00","3,206.20"
Amazon,1616360218-49,https://finance.yahoo.com/quote/AMZN/history?p...,2020-06-01,"2,448.00","2,758.82"
Amazon,1616360218-46,https://finance.yahoo.com/quote/AMZN/history?p...,2020-09-01,"3,489.58","3,148.73"
Amazon,1616360218-47,https://finance.yahoo.com/quote/AMZN/history?p...,2020-08-01,"3,180.51","3,450.96"
Amazon,1616360218-45,https://finance.yahoo.com/quote/AMZN/history?p...,2020-10-01,"3,208.00","3,036.15"
...,...,...,...,...,...
Saudi Aramco,1616532253-208,https://finance.yahoo.com/quote/2222.SR/histor...,2020-09-01,35.45,35.9
Saudi Aramco,1616532253-218,https://finance.yahoo.com/quote/2222.SR/histor...,2020-04-01,27.36,28.77
Saudi Aramco,1616532253-221,https://finance.yahoo.com/quote/2222.SR/histor...,2020-02-01,31,30.32
Saudi Aramco,1616532253-207,https://finance.yahoo.com/quote/2222.SR/histor...,2020-10-01,35.8,33.7
Saudi Aramco,1616532253-211,https://finance.yahoo.com/quote/2222.SR/histor...,2020-07-01,32.45,33

In [68]:
data=df20.loc[df20["Date"]==df20['Date'].min(),'Open'].replace(',', '', regex=True).astype(float).to_frame() 
data=data.rename(columns={"Open": "Open20"})
data['Close20']=df20.loc[df20["Date"]==df20['Date'].max(),'Close*'].replace(',', '', regex=True).astype(float)
data['2020']=data['Close20']*100/data['Open20']
print(df20['Date'].min())
print(data)

print('\nLa Empresa con mejor rendimiento en 2020 fue {} con un crecimiento de {}%'.
      format(data['2020'].idxmax(), round(data['2020'].max(),2)))

2020-01-01 00:00:00
               Open20  Close20        2020
Empresa
Amazon        1875.00  3256.93  173.702933
Apple           74.06   132.69  179.165541
Facebook       206.75   273.16  132.120919
Google        1341.55  1751.88  130.586262
Netflix        326.10   540.73  165.817234
Microsoft      158.78   222.42  140.080615
Alibaba        216.60   232.73  107.446907
Tencent         49.20    71.89  146.117886
Tesla           84.90   705.67  831.177856
Saudi Aramco    32.05    35.00  109.204368

La Empresa con mejor rendimiento en 2020 fue Tesla con un crecimiento de 831.18%

In [69]:
data['Open21']=df21.loc[df21["Date"]==df21['Date'].min(),'Open'].replace(',', '', regex=True).astype(float)
data['Close21']=df21.loc[df21["Date"]==df21['Date'].max(),'Close*'].replace(',', '', regex=True).astype(float)
data['2021']=data['Close21']*100/data['Open21']
print(df21['Date'].max())
print(df21['Date'].min())
print(data)

print('\nLa Empresa con mejor rendimiento en 2021 fue {} con un crecimiento de {}%'.
      format(data['2021'].idxmax(), round(data['2021'].max(),2)))

2021-03-01 00:00:00
2021-02-01 00:00:00
               Open20  Close20        2020   Open21  Close21        2021
Empresa
Amazon        1875.00  3256.93  173.702933  3242.36  3074.96   94.837094
Apple           74.06   132.69  179.165541   133.75   119.99   89.712150
Facebook       206.75   273.16  132.120919   259.52   290.11  111.787145
Google        1341.55  1751.88  130.586262  1853.57  2043.20  110.230528
Netflix        326.10   540.73  165.817234   536.79   512.18   95.415339
Microsoft      158.78   222.42  140.080615   235.06   235.99  100.395644
Alibaba        216.60   232.73  107.446907   258.80   237.12   91.622875
Tencent         49.20    71.89  146.117886    91.66    82.77   90.301113
Tesla           84.90   705.67  831.177856   814.29   670.00   82.280269
Saudi Aramco    32.05    35.00  109.204368    34.65    35.55  102.597403

La Empresa con mejor rendimiento en 2021 fue Facebook con un crecimiento de 111.79%